/// Indent an element inside a column based grid.
@mixin indent($indent-count, $column-count, $max-width, $ignore-padding: 0rem) {
  margin-left: calc( #{$max-width} / #{$column-count} * #{$indent-count} - #{$ignore-padding} );
}

// Animation controller
@mixin animation($animation, $duration: 300ms, $delay: 0ms, $timing: ease-in-out, $fill-mode: both) {
  animation-name: $animation !important;
  animation-duration: $duration !important;
  animation-delay: $delay !important;
  animation-timing-function: $timing !important;
  animation-fill-mode: $fill-mode !important;
}