/* theme.scss */
html {
  font-size: 62.5%;
  font-family: var(--font-body);
  line-height: 1.4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*
  DINAMIC THEME
*/
[data-theme] {
  background-color: var(--color-bg);
  color: var(--color-contrast-medium);
}

/*[data-theme="dark"] {

}*/


/*
  TEXT STYLES
*/

/* TEXT BASE STYLES*/
.text--s {
  font-size: var(--font-size-s);
  font-family: var(--font-body);
  font-weight: var(--font-weight-body);
  color: var(--color-contrast-medium);
}
.text--m {
  font-size: var(--font-size-m);
  font-family: var(--font-body);
  font-weight: var(--font-weight-body);
  color: var(--color-contrast-medium);
}
.text--l {
  font-size: var(--font-size-l);
  font-family: var(--font-body);
  font-weight: var(--font-weight-body);
  color: var(--color-contrast-medium);
}
.text--xl {
  font-size: var(--font-size-xl);
  font-family: var(---font-body);
  font-weight: var(--font-weight-body);
  color: var(--color-contrast-medium);
}
.text--h2 {
  font-size: var(--font-size-h2);
  font-family: var(--font-header);
  font-weight: var(--font-weight-header);
  line-height: 1.2em;
  color: var(--color-contrast-high);
}
.text--h1 {
  font-size: var(--font-size-h1);
  font-family: var(--font-header);
  font-weight: var(--font-weight-header);
  line-height: 1.2em;
  color: var(--color-contrast-high);
}
.text--title {
  font-size: var(--font-size-title);
  font-family: var(--font-header);
  font-weight: var(--font-weight-header);
  line-height: 1.2em;
  color: var(--color-contrast-high);
}

/* TEXT COLOUR MODIFIERS */
.text--color-primary { color: var(--color-primary) !important; }
.text--color-bg { color: var(--color-bg) !important; }
.text--color-contrast-low { color: var(--color-contrast-low) !important; }
.text--color-contrast-medium { color: var(--color-contrast-medium) !important; }
.text--color-contrast-high { color: var(--color-contrast-high) !important; }


/*
  COMMON COMPONENTS
*/

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}
.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

/* BUTTONS */
.button {
  text-decoration: none;
  background-color: rgba(0,0,0,0);
  color: var(--color-primary);
  border-radius: 0.5rem;
  border: 0.2rem solid var(--color-primary);
  display: inline-block;
  padding: 0.5em 1.5em;
  cursor: pointer;
}
.button--big {
  padding: 0.8em 3em;
}

/* Container indents */
.container-indent-1 { padding-left: calc(12em + var(--container-padding)); }
.container-indent-2 { padding-left: calc(24em + var(--container-padding)); }
.container-indent-3 { padding-left: calc(36em + var(--container-padding)); }
.container-indent-4 { padding-left: calc(48em + var(--container-padding)); }