/* typo.scss */
/* HK Grotesk */
@font-face {
  font-display: swap;
  font-family: "Public Sans";
  src:  url("~assets/fonts/publicsans/PublicSans-Bold.woff") format("woff"),
        url("~assets/fonts/publicsans/PublicSans-Bold.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* Roboto */
/* roboto-regular - latin */
@font-face {
  font-display: fallback;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto/roboto-v20-latin-regular.woff2') format('woff2'), 
       url('../fonts/roboto/roboto-v20-latin-regular.woff') format('woff');
}
/* roboto-500 - latin */
@font-face {
  font-display: fallback;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto/roboto-v20-latin-500.woff2') format('woff2'),
       url('../fonts/roboto/roboto-v20-latin-500.woff') format('woff');
}