/* variables.css */
:root, [data-theme="default"] {

  /* 
      COLOURS
  */

  --color-primary: #FFBD08;
  /* contrast colours */
  --color-bg: #00186E;
  --color-contrast-low: #CBA028;
  --color-contrast-medium: #95A2D3;
  --color-contrast-high: #F0F0F0;


  /*
      FONTS
  */

  /* FONT FAMILIES */
  --font-header: "HK Grotesk", "Helvetica", Arial, sans-serif;
  --font-body: "Roboto", Arial, sans-serif;

  /* FONT WEIGHTS */
  --font-weight-header: 900;
  --font-weight-body: 400;

  /* FONT SIZES */
  --font-size-s: 1.2rem; /* 12px */
  --font-size-m: 1.6rem;
  --font-size-l: 1.8rem;
  --font-size-xl: 2rem;
  --font-size-h2: 2.4rem;
  --font-size-h1: 3.6rem;
  --font-size-title: 6rem;

  /* 
      COMPONENT SIZES
  */

  /* MAIN COMPONENTS */

  /* Container */
  --container-max-width: 120em;
  --container-padding: 1.6em;

  /* Navbar */
  --navbar-height: 10em; /* 100px */
  --navbar-height-fixed: 7em;
  --navbar-max-width: 120em;



  /* COMMON COMPONENTS */
  
  /* Buttons */
  --button-radius: 0.5em;
  --button-border: 0.2em solid var(--color-primary);

}