/* variables.css */
:root, [data-theme="default"] {

  /* 
      COLOURS
  */
  --color-primary: #FFBD08;
  /* contrast colours */
  --color-bg: #00186E;
  --color-contrast-low: #A17C18;
  --color-contrast-medium: #95A2D3;
  --color-contrast-high: #F0F0F0;


  /*
      FONTS
  */
  /* FONT FAMILIES */
  --font-header: "Public Sans", Arial, sans-serif;
  --font-body: "Roboto", Arial, sans-serif;

  /* FONT WEIGHTS */
  --font-weight-header: 700;
  --font-weight-body: 400;

  /* FONT SIZES */
  --font-size-s: 1.2rem; /* 12px */
  --font-size-m: 1.6rem;
  --font-size-l: 1.8rem;
  --font-size-xl: 2rem;
  --font-size-h2: 2.4rem;
  --font-size-h1: 3.6rem;
  --font-size-title: 6rem;


  /*
    BREAKPOINTS
  */
  --mobile-landscape: 48rem;
  --tablet-portrait: 76.8rem;
  --tablet-landscape: 99.2rem;
  --laptop: 120rem;

  /* 
      COMPONENT SIZES
  */
  /* MAIN COMPONENTS */
  /* Container */
  --container-max-width: 120rem;
  --container-padding: 1.6rem;

  /* Navbar */
  --navbar-height: 10rem; /* 100px */
  --navbar-height-fixed: 7rem;
  --navbar-max-width: 120rem;


  /* COMMON COMPONENTS */
  /* Buttons */
  --button-radius: 0.5em;
  --button-border: 0.2em solid var(--color-primary);

}