/* variables.scss */
/*  
  MEDIA QUERY BREAKPOINTS 
*/
$mobile-portrait: 23.4375em; // 375px
$mobile-landscape: 30em; // 480px
$tablet-portrait: 48em; // 768px
$tablet-landscape: 62em; // 992px
$laptop: 75em; // 1200px
/* rem breakpoints for calculations */
$mobile-portrait-rem: 37.5rem; // 375px
$mobile-landscape-rem: 48rem; // 480px
$tablet-portrait-rem: 76.8rem; // 768px
$tablet-landscape-rem: 99.2rem; // 992px
$laptop-rem: 120rem; // 1200px

/* 
  TYPO AND COLOR CHARACTERISTICS
*/
:root, [data-theme] {
  /* 
      COLOURS
  */
  --color-primary: hsl(44, 100%, 51.6%);
  --color-bg: hsl(227, 100%, 21.6%);
  --color-contrast-low: hsl(227, 100%, 35%);
  --color-contrast-medium: hsl(227, 41.3%, 70.6%);
  --color-contrast-high: hsl(0, 0%, 94.1%);


  /*
      FONTS
  */
  /* FONT FAMILIES */
  --font-header: "Public Sans", Arial, sans-serif;
  --font-body: "Roboto", Arial, sans-serif;

  /* FONT WEIGHTS */
  --font-weight-header: 700;
  --font-weight-body: 400;

  /* FONT SIZES */
  --font-size-s: 1rem; /* 12px */
  --font-size-m: 1.2rem;
  --font-size-l: 1.4rem;
  --font-size-xl: 1.6rem;
  --font-size-h2: 1.6rem;
  --font-size-h1: 2.6rem;
  --font-size-title: 3rem;
}

/* 
  BLOCK AND ELEMENT CHARACTERISTICS 
*/
:root {
  /* MAIN COMPONENTS */
  /* Container */
  --container-max-width: 120rem;
  --container-padding: 2rem;

  /* Navbar */
  --navbar-height: 10rem; /* 100px */
  --navbar-height-reduced: 7rem;

  /* COMMON COMPONENTS */
  /* Buttons */
  --button-radius: 0.5rem;
  --button-border: 0.1em solid var(--color-primary);

  /* CONTAINER COLUMNS */
  --column-count: 12;
}

/*  LAPTOP 1200px  */
@media (min-width: $laptop ) {
  :root, [data-theme]  {
    /* FONT SIZES */
    --font-size-s: 1.4rem;
    --font-size-m: 1.6rem;
    --font-size-l: 1.8rem;
    --font-size-xl: 2rem;
    --font-size-h2: 2.4rem;
    --font-size-h1: 3.6rem;
    --font-size-title: 6rem;
  }
}

/*  TABLET-LANDSCAPE 992px  */
@media (min-width: $tablet-landscape ) {
}

/*  TABLET-PORTRAIT 768px  */
@media screen and (min-width: $tablet-portrait ) {
  :root, [data-theme]  {
    /* FONT SIZES */
    --font-size-s: 1.2rem;
    --font-size-m: 1.4rem;
    --font-size-l: 1.6rem;
    --font-size-xl: 2rem;
    --font-size-h2: 2.4rem;
    --font-size-h1: 3.6rem;
    --font-size-title: 4.6rem;
  }
}

/*  MOBILE-LANDSCAPE 480px  */
@media screen and (min-width: $mobile-landscape ) {
}

/*  MOBILE-PORTRAIT 374px  */
@media screen and (min-width: $mobile-portrait ) {
  :root, [data-theme] {
    /* FONT SIZES */
    --font-size-s: 1.2rem;
    --font-size-m: 1.4rem;
    --font-size-l: 1.6rem;
    --font-size-xl: 1.8rem;
    --font-size-h2: 2rem;
    --font-size-h1: 2.6rem;
    --font-size-title: 3.6rem;
  }
}
