/* variables.scss */
/*  
  MEDIA QUERY BREAKPOINTS 
*/
$mobile-portrait: 23.4375em; // 375px
$mobile-landscape: 30em; // 480px
$tablet-portrait: 48em; // 768px
$tablet-landscape: 62em; // 992px
$laptop: 75em; // 1200px

/* 
  TYPO AND COLOR CHARACTERISTICS
*/
:root, [data-theme] {
  /* 
      COLOURS
  */
  --color-primary: #FFBD08;
  --color-bg: #00186E;
  --color-contrast-low: #A17C18;
  --color-contrast-medium: #95A2D3;
  --color-contrast-high: #F0F0F0;


  /*
      FONTS
  */
  /* FONT FAMILIES */
  --font-header: "Public Sans", Arial, sans-serif;
  --font-body: "Roboto", Arial, sans-serif;

  /* FONT WEIGHTS */
  --font-weight-header: 700;
  --font-weight-body: 400;

  /* FONT SIZES */
  --font-size-s: 1rem; /* 12px */
  --font-size-m: 1.2rem;
  --font-size-l: 1.4rem;
  --font-size-xl: 1.8rem;
  --font-size-h2: 1.8rem;
  --font-size-h1: 2rem;
  --font-size-title: 3rem;
}

/* 
  BLOCK AND ELEMENT CHARACTERISTICS 
*/
:root {
  /* MAIN COMPONENTS */
  /* Container */
  --container-max-width: 120rem; /* 1200px*/
  --container-padding: 2rem;

  /* Navbar */
  --navbar-height: 10rem; /* 100px */
  --navbar-height-fixed: 7rem;
  --navbar-max-width: 120rem;


  /* COMMON COMPONENTS */
  /* Buttons */
  --button-radius: 0.5em;
  --button-border: 0.2em solid var(--color-primary);

  /* CONTAINER COLUMNS */
  --column-count: 12;
}

/*  MOBILE-PORTRAIT 374px  */
@media screen and (min-width: $mobile-portrait ) {
  :root, [data-theme] {
    /* FONT SIZES */
    --font-size-s: 1rem; /* 10px */
    --font-size-m: 1.2rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-h2: 2rem;
    --font-size-h1: 2.4rem;
    --font-size-title: 3.6rem;
  }
}
  
  /*  MOBILE-LANDSCAPE 480px  */
  @media (min-width: $mobile-landscape ) {
  
  }
  
  /*  TABLET-PORTRAIT 768px  */
  @media screen and (min-width: $tablet-portrait ) {
    :root, [data-theme]  {
      /* FONT SIZES */
      --font-size-s: 1.4rem; /* 10px */
      --font-size-m: 1.6rem;
      --font-size-l: 1.8rem;
      --font-size-xl: 2rem;
      --font-size-h2: 2.4rem;
      --font-size-h1: 3.6rem;
      --font-size-title: 6rem;
    }
  }
  
  /*  TABLET-LANDSCAPE 992px  */
  @media (min-width: $tablet-landscape ) {
  
  }
  
  /*  LAPTOP 1200px  */
  @media (min-width: $laptop ) {
  
  }